<!DOCTYPE html>
<html lang="en">

<head>
    <title>Halaman Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Form Login</h1>
    <form action="/login" method="POST">
        <label for="">Email</label><br>
        <input type="text" name="email" value=""><br>
        <label for="">Password</label><br>
        <input type="password" name="password" value=""><br><br>
        <input type="submit" name="email" value="Login"><br>
    </form>
</body>

</html>